<div class="container mt-5">
    <h1 class="mb-4">Retrospective Board</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>What Went Well</h2><i class="fa-solid fa-circle-plus" style="color: #14c229;"></i>
            <div class="retro-card went-well">

                <!-- Add your content here -->
            </div>
        </div>
        <div class="col-md-6">
            <h2>What Can Be Improved</h2> <i class="fa-solid fa-circle-plus" style="color: #14c229;"></i>
            <div class="col-md-3">
                <div class="retro-card didnt-go-well">

                    <!-- Add your content here -->
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Start Doing</h2> <i class="fa-solid fa-circle-plus" style="color: #14c229;"></i>
            <div class="retro-card start-doing">

                <!-- Add your content here -->
            </div>
        </div>
        <div class="col-md-6">
            <h2>Action Items</h2> <i class="fa-solid fa-circle-plus" style="color: #14c229;"></i>
            <div class="retro-card action-items">

                <!-- Add your content here -->
            </div>
        </div>
    </div>
</div>