.attendance-sec{
    background-image: url("https://img.freepik.com/premium-photo/business-team-manager-meeting_183219-11.jpg?w=900");
    background-size: cover;
}

.attedance-sec1{
    background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    color: white;
}